/* ---------- MOBILE FIRST APROACH ---------- */

/* ---------- Global ---------- */

:root {
  /* Text Colors */
  --text-darkblue: hsl(223, 47%, 23%);
  --text-desaturatedblue: hsl(224, 23%, 55%);

  --text-palepurple: hsl(247, 68%, 64%);

  /* Background Colors */
  --bg-paleblue: hsl(225, 100%, 94%);
  --bg-verypaleblue: hsl(225, 100%, 98%);
  --bg-brightblue: hsl(245, 75%, 52%);

  --bg-grayishblue: hsl(225, 100%, 96.5%);
  --bg-palepurple: hsl(247, 68%, 64%);

  /* Images */
  --bg-cover: url(images/pattern-background-desktop.svg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------- /Global ---------- */

/* ---------- Main Container ---------- */

.main {
  background-color: var(--bg-paleblue);

  background-size: contain;
  background-repeat: no-repeat;
  background-image: var(--bg-cover);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container {
  background-color: var(--bg-verypaleblue);

  max-width: 23.75rem;
  height: auto;
  margin: 0 2rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------- /Main Container ---------- */

/* ---------- Main Image---------- */

#main-image {
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

/* ---------- /Main Image---------- */

/* ---------- Main Text---------- */

h1 {
  color: var(--text-darkblue);

  margin-top: 1.875rem;
  font-weight: 900;
}

.main-text p {
  color: var(--text-desaturatedblue);

  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.25rem;

  margin-top: 1rem;
}

.main-text {
  max-width: 80%;
}

/* ---------- /Main Text---------- */

/* ---------- Main Plan---------- */

h2 {
  color: var(--text-darkblue);

  font-weight: 900;
  font-size: 1rem;
}

.plan-text p {
  color: var(--text-desaturatedblue);

  font-size: 1rem;
  font-weight: 500;
}

.plan-container {
  background-color: var(--bg-grayishblue);

  width: 85%;
  padding: 1rem 1.25rem;
  border-radius: 0.625rem;
  margin-top: 1.625rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.plan-image {
  margin-right: 0.375rem;
}

.plan-text {
  margin-left: 0.375rem;
  display: flex;
  flex-direction: column;
}

.change {
  margin-left: auto;
}

#plan-image {
  width: 2.5rem;
  height: 2.5rem;
}

#change {
  color: var(--text-darkblue);

  font-weight: 900;
  font-size: 12px;
  transition: all 0.3s ease;
}

#change:hover {
  color: var(--bg-palepurple);
  transition: all 0.3s ease;
}

/* ---------- /Main Plan---------- */

/* ---------- Main Buttons---------- */

.main-buttons {
  width: 100%;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process-payment p {
  font-weight: 900;
  font-size: 0.875rem;
  color: var(--bg-verypaleblue);
}

.process-payment {
  background-color: var(--bg-brightblue);
  box-shadow: 0 1rem 0.5rem var(--bg-paleblue);

  width: 85%;
  height: 3rem;
  margin-top: 2rem;
  border-radius: 0.625rem;
  transition: all 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

#process-payment {
  width: 19rem;
  height: 3rem;
  transition: all 0.3s ease;
}

#process-payment:hover {
  cursor: pointer;
}

.process-payment:hover {
  background-color: var(--bg-palepurple);
  transition: all 0.3s ease;
}

.cancel-order p {
  color: var(--text-desaturatedblue);

  font-weight: 900;
  font-size: 0.875rem;
}

.cancel-order {
  width: 85%;
  height: 3rem;
  margin-top: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.cancel-order p:hover {
  color: var(--text-darkblue);

  cursor: pointer;
  transition: all 0.3s ease;
}

/* ---------- /Main Buttons---------- */
